<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1}): %msg%n%throwable</Pattern>
        </layout>
    </appender>

    <appender name="ServiceRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/service/service.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/service/archived/service-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ControllerRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/controller/controller.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/controller/archived/controller-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="ConfigRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/config/config.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/config/archived/config-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FilterRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/filter/filter.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/filter/archived/filter-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="UtilsRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/utils/utils.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/utils/archived/utils-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="RepositoryRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/repository/database.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/repository/archived/database-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <appender name="SystemRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/system.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/archived/system-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
    </appender>
    
    <appender name="ExceptionRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/exception/exception.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1} [%t] %m%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/exception/archived/exception-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.ecommerce.serviceImpl" level="info" additivity="false">
        <appender-ref ref="ServiceRollingFile" />
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="com.ecommerce.service" level="info" additivity="false">
        <appender-ref ref="ServiceRollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="com.ecommerce.controller" level="info" additivity="false">
        <appender-ref ref="ControllerRollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="com.ecommerce.config" level="info" additivity="false">
        <appender-ref ref="ConfigRollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="com.ecommerce.filter" level="debug" additivity="false">
        <appender-ref ref="FilterRollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="com.ecommerce.utils" level="debug" additivity="false">
        <appender-ref ref="UtilsRollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <logger name="org.hibernate.SQL" level="debug" additivity="false">
        <appender-ref ref="RepositoryRollingFile" />
        <appender-ref ref="Console" />
    </logger>
    
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="trace" additivity="false">
        <appender-ref ref="RepositoryRollingFile" />
    </logger>
    
    <logger name="com.ecommerce.exception" level="warn" additivity="false">
        <appender-ref ref="ExceptionRollingFile" />
        <appender-ref ref="Console" />
    </logger>

    <root level="info">
        <appender-ref ref="SystemRollingFile" />
        <appender-ref ref="Console" />
    </root>

</configuration>